
@{
    ViewData["Title"] = "Fetch";
}

<h1>Fetch</h1>
<img id="img1"/>
@section Scripts{
<script>
    @*fetch('@Url.Content("~/homework/register")').then(response =>
    {
        console.log(response);
        console.log(response.text());
        console.log(response.body);
        console.log(response.headers.get('date'));
        return response.text();
    }).then(nextResponse =>
    {
        console.log(nextResponse);
        console.log(nextResponse.text());
    });*@

    fetch('@Url.Content("~/api/getImageBytes/1")').then(response => response.blob()).then(datas =>
    {
        const myImg = document.querySelector("#img1");
        myImg.src = URL.createObjectURL(datas);
    })
</script>

 }