@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>FormAction:(@ViewBag.data)</p>
@foreach (var member in Model)
{
<li class="list-group-item">@member.Name</li>}